	<head>
		<title>Shoutzor - Class '12 - <%= yield :pagetitle %></title>
		<%= stylesheet_link_tag "application", :media => "all" %>
		<%= csrf_meta_tags %>

		<link rel="icon" href="<%= image_path("favicon.png") %>" type="image/png" />
	</head>
