<div id="visual">
	<div class="shadow"><!----></div>
	<div class="background">
		<canvas id="effect"></canvas>
	</div>

	<div class="tabs">
		<div class="container_12">
			<div class="grid_4 push_8 omega">
				<!-- <ul>
					<li><a href="#"><span>Logout</span></a></li>
					<li><a href="#"><span>Playlist</span></a></li>
				</ul> -->
			</div>
		</div>
	</div>
</div>