<% content_for :pagetitle do %>Login<% end %>

<% if not flash[:notice].nil? %>
	<p class="flash notice">
		<%= flash[:notice] %>
	</p>
<% end %>

<% if not params['registered'].blank? then %>
	<p class="flash notice">Check your e-mail and use your PIN to login below</p>
<% end %>

<div class="form"> 
	<h2><span>Got an account!</span></h2>
	<p>
		Already got an account? Use your user credentials to login below.
	</p>

	<form action="/authenticate" method="post" autocomplete="off" data-remote="true" id="login-form">
		<fieldset>

			<% if not flash[:alert].nil? %>
				<p class="flash alert">
					<%= flash[:alert] %>
				</p>
			<% end %>

			<div class="field">
				<label for="name">Name</label>
				<input type="text" name="name" id="name" value="" placeholder="name" />
			</div>
			<div class="field">
				<label for="pin">PIN-code</label>
				<input type="text" name="pin" id="pin" value="" placeholder="pin" />
			</div>
			<div class="buttoncontainer">
				<button type="submit">Login</button>
			</div>
		</fieldset>
	</form>
</div>

<div class="no-account">
	<div class="form">
		<h2><span>Need an account &hellip;</span></h2>
		<p>
			If you haven't got an account yet make sure to create one first. I'll mail you a PIN-code you can use
			in the form above.
		</p>

		<form action="/request_pin" method="post" autocomplete="off" data-remote="true" id="register-form">
			<fieldset>

				<% if not flash[:alert].nil? %>
					<p class="flash alert">
						<%= flash[:alert] %>
					</p>
				<% end %>

				<div class="field">
					<label for="name">Name</label>
					<input type="text" name="name" id="name" value="" placeholder="name" />
				</div>
				<div class="field">
					<label for="email">E-mail</label>
					<input type="email" name="email" id="email" value="" placeholder="e-mail" />
				</div>
				<div class="buttoncontainer">
					<button type="submit">Register</button>
				</div>
			</fieldset>
		</form>


	</div>
</div>
