<% if not flash[:notice].nil? %>
	<p class="flash notice">
		<%= flash[:notice] %>
	</p>
<% end %>

<div class="form"> 
	<h2>Ik heb een account</h2>
	<p>
		Heb je al een account? Log dan met onderstaand formulier in.
	</p>

	<form action="/authenticate" method="post">
		<fieldset>
			<legend>Login</legend>

			<% if not flash[:alert].nil? %>
				<p class="flash alert">
					<%= flash[:alert] %>
				</p>
			<% end %>

			<div class="field">
				<label for="name">Name</label>
				<input type="text" name="name" id="name" value="" />
			</div>
			<div class="field">
				<label for="pin">PIN-code</label>
				<input type="text" name="pin" id="pin" value="" placeholder="Vul je pincode in" />
			</div>
			<button type="submit">Login</button>
		</fieldset>
	</form>
</div>

<div class="form">
	<h2>Accountloos</h2>
	<p>
		Als je nog geen account hebt maak je er eerst even een aan, je krijgt dan een pin-code toegestuurd
		die je kan gebruiken om een liedje aan te vragen.
	</p>

	<form action="/request_pin" method="post">
		<fieldset>
			<legend>Nog geen account</legend>

			<div class="field">
				<label for="name">Name</label>
				<input type="text" name="name" id="name" value="" placeholder="Naam" />
			</div>
			<div class="field">
				<label for="email">E-mail</label>
				<input type="text" name="email" id="email" value="" placeholder="Vul je e-mail adres in" />
			</div>
			<button type="submit">Login</button>
		</fieldset>
	</form>


</div>