
// orange style
$light: #FFb300; 

// blue style
// $light: rgb(0, 150, 255); 

$normal: #333;
$normal-up: lighten($normal, 20%);
$visual-height: 250px;
$shadow: #111;

body {
	font-size: 62.5%;
}

body.fire {
	background-color: #313131;
	font-family: Verdana;
}


#visual {
	margin-top: 4em;
	margin-bottom: 4em;
	background-color: #191919;
	border-top: 2px solid $light;
	border-bottom: 1px solid $light;
	height: $visual-height;


	position: relative;

	.shadow {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		box-shadow: inset 0 0 100px black;
		z-index: 2;
	}

	.background {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;	
 		z-index: 1;
	}

	.tabs {
		
		z-index: 3;
		position: relative;

		li {
			display: inline;
			float: right;
			margin-right: 4px;
		}

		a {
			display: block;
			padding: 1em;
			padding-left: 3em;
			padding-right: 3em;
			color: white;
			font-weight: bold;
			text-decoration: none;
			background-color: $normal;

			span { font-size: 1.2em;}

			&:hover {
				background-color: $light;
				color: black;
			}
		}

	}
}

#songlist {
	table {
		width: 100%;
		margin-bottom: 4em;
		border-bottom: 1px solid darken($light, 20%);

		box-shadow: 0 0 5px $shadow;
	}

	thead {
		background-color: #222;
		border-top: 1px solid $light;
		border-bottom: 1px solid darken($light, 20%);

		color: #eee;

		th {
			padding: 1em;
			padding-left: 0;
			text-align: left;
			font-weight: bold;
			font-size: 1.3em;
		}

		th.title {
			padding-left: 1em;
		}

		.title { width: 40%; }
		.album { width: 25%; }
		.artist { width: 25%; }
		.tracklength { width: 10%; text-align: right; }

	}

	tbody {
		background-color: #444;

		td {
			padding-top: 1.0em;
			padding-bottom: 1.0em;
			border-top: 1px solid transparent;
			color: #eee;
			font-size: 1.2em;
			line-height: 1.5em;
		}

		td.title {
			padding-left: 1em;
		}

		td.tracklength {
			text-align: right;
			padding-right: 1em;
		}

		td.options {
			display: none;
		}

		tr:hover td {
			background-color: darken($light, 20%);

			border-bottom: 1px solid darken($light, 50%);
			border-top: 1px solid $light;

			cursor: pointer;
			color: black;
		}
	}
}

.ui-autocomplete {

	background-color: white;
	float: left;
	width: 250px;	

	list-style: none;

	li {
		margin: 0;
	}

	span.separator {
		font-size: 0.8em;
		padding-bottom: 0.2em;
		border-bottom: 1px solid #999;
		margin-bottom: 0.2em;
		color: #555;
		display: block;
	}


	a.term {
		text-decoration: none;
		color: black;
		display: block;
		padding: 0.3em;
		padding-left: 1em;
		padding-right: 1em;
	}

	a.term:hover {
		text-decoration: underline;
	}

	li a.ui-state-hover, li:hover a {
		background-color: #aaa;
	}

}
