
// orange style
// $light: #FFb300; 

// blue style
// $light: rgb(0, 150, 255); 

// green style
$light: rgb(100, 200, 100); 
$light-up: rgb(100, 255, 100);

$input-color: #111;
$input-border-color: #555;

$background: #313131;
$normal: #333;
$normal-up: lighten($normal, 20%);
$visual-height: 350px;
$shadow: #111;

body {
	font-size: 62.5%;
}

body.fire {
	background-color: $background;
	font-family: Verdana;
}


#visual {
	margin-bottom: 4em;
	background-color: #191919;
	border-bottom: 1px solid $light;
	height: $visual-height;


	position: relative;

	.shadow {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		box-shadow: inset 0 0 100px black;
		z-index: 2;
	}

	.background {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;	
 		z-index: 1;
	}

	.tabs {
		
		z-index: 3;
		position: relative;

		li {
			display: inline;
			float: right;
			margin-right: 4px;
		}

		a {
			display: block;
			padding: 1em;
			padding-left: 3em;
			padding-right: 3em;
			color: white;
			font-weight: bold;
			text-decoration: none;
			background-color: $normal;

			span { font-size: 1.2em;}

			&:hover {
				background-color: $light-up;
				color: black;
			}
		}

	}
}

#songlist {
	table {
		width: 100%;
		margin-bottom: 4em;
		border-bottom: 1px solid darken($light, 20%);

		box-shadow: 0 0 5px $shadow;
	}

	thead {
		background-color: #222;
		border-top: 1px solid $light;
		border-bottom: 1px solid darken($light, 20%);

		color: #eee;

		th {
			padding: 1em;
			padding-left: 0;
			text-align: left;
			font-weight: bold;
			font-size: 1.3em;
		}

		th.title {
			padding-left: 1em;
		}

		.title { width: 40%; }
		.album { width: 25%; }
		.artist { width: 25%; }
		.tracklength { width: 10%; text-align: right; }

	}

	tbody {
		background-color: #444;

		td {
			padding-top: 1.0em;
			padding-bottom: 1.0em;
			border-top: 1px solid transparent;
			color: #eee;
			font-size: 1.2em;
			line-height: 1.5em;
		}

		td.title {
			padding-left: 1em;
		}

		td.tracklength {
			text-align: right;
			padding-right: 1em;
		}

		td.options {
			display: none;
		}

		tr:hover td {
			background-color: darken($light, 20%);

			border-bottom: 1px solid darken($light, 50%);
			border-top: 1px solid $light;

			cursor: pointer;
			color: black;
		}
	}
}

.ui-autocomplete {

	background-color: $input-color;
	float: left;
	width: 250px;	

	list-style: none;
	border: 1px solid $input-border-color;
	border-top: 1px solid $input-color;

	margin-top: -2px;

	box-shadow: 0 0 2px black;

	li {
		margin: 0;
	}

	span.separator {
		font-size: 1.0em;
		padding-top: 1em;
		padding-bottom: 0.5em;
		padding-left: 1em;
		margin-bottom: 0.2em;
		color: #555;
		display: block;
	}


	a.term {
		font-size: 1.2em;
		color: white;
		text-decoration: none;
		display: block;
		padding: 1em;
		padding-left: 2em;
		padding-right: 1em;
		border-bottom: 1px solid transparent;
		border-top: 1px solid transparent;

		&:hover, &:focus, &.ui-state-hover {
			background-color: darken($light, 20%);

			border-bottom: 1px solid darken($light, 50%);
			border-top: 1px solid $light;

			cursor: pointer;
			color: black;
		}
	}
}

#search-container {
	position: absolute;
	top: $visual-height - 60px;
	left: 50%;
	margin-left: -470px;
	z-index: 100;
	box-shadow: 0 0 20px black;

	#search {
		padding: 2em;
		border-top: 1px solid $light;
		background-color: $background;

		input[type='text'] {
			font-size: 1.5em;
			background-color: $input-color;
			border: 1px solid $input-border-color;
			padding: 0.5em;
			padding-top: 0.2em;
			padding-bottom: 0.2em;
			box-shadow: inset 0 0 5px black;
			color: white;
			width: 250px;

			&:focus {
				outline: none;
			}

			&::-webkit-input-placeholder,
			&:-moz-placeholder {
				color: blue;
			}
		}

	}
}
