<%
	#
	# now playing
	#
%>
<div id="status" data-status="<%= status.to_json %>">
	<div class="now-playing">
		Now playing: 
		<span class="name">n/a</span>
		(<span class="length">0:00</span>)
	</div>
</div>