<div id="songlist">

		<table>
			<thead>
				<tr>
					<th class="title">Title</th>
					<th class="album">Album</th>
					<th class="artist">Artist</th>
					<th class="tracklength">Length</th>
				</tr>
			</thead>
			<tbody>
					<tr class="even">
						<td class="title">Nutriment</td>
						<td>moog (Sebastian Bachliñski)</td>
						<td>http://Remix.Kwed.Org/</td>
						<td class="tracklength">03:48</td>
						<td class="options"><a href="/vote_for?id=946" data-remote="true">vote</a>
						</td>
					</tr>
					<tr class="odd">
						<td class="title">Dadelos</td>
						<td>moog (Sebastian Bachliñski)</td>
						<td>http://Remix.Kwed.Org/</td>
						<td class="tracklength">04:23</td>
						<td class="options"><a href="/vote_for?id=945" data-remote="true">vote</a>
						</td>
					</tr>
					<tr class="even">
						<td class="title">Groovin High</td>
						<td>moog (Sebastian Bachliñski)</td>
						<td>http://Remix.Kwed.Org/</td>
						<td class="tracklength">02:06</td>
						<td class="options"><a href="/vote_for?id=944" data-remote="true">vote</a>
						</td>
					</tr>
					<tr class="odd">
						<td class="title">Acid Jazz (Grand Theft Audio)</td>
						<td>Moog &amp; Hazel</td>
						<td>http://Remix.Kwed.Org/</td>
						<td class="tracklength">04:22</td>
						<td class="options"><a href="/vote_for?id=943" data-remote="true">vote</a>
						</td>
					</tr>
					<tr class="even">
						<td class="title">Beginning</td>
						<td>moog (Sebastian Bachliñski)</td>
						<td>http://Remix.Kwed.Org/</td>
						<td class="tracklength">04:11</td>
						<td class="options"><a href="/vote_for?id=942" data-remote="true">vote</a>
						</td>
					</tr>
					<tr class="odd">
						<td class="title">Basics of Love (feat. Makke)</td>
						<td>moog (Sebastian Bachliñski)</td>
						<td>http://Remix.Kwed.Org/</td>
						<td class="tracklength">04:48</td>
						<td class="options"><a href="/vote_for?id=941" data-remote="true">vote</a>
						</td>
					</tr>
					<tr class="even">
						<td class="title">modern fusion</td>
						<td>moog (Sebastian Bachliñski)</td>
						<td>http://Remix.Kwed.Org/</td>
						<td class="tracklength">04:13</td>
						<td class="options"><a href="/vote_for?id=940" data-remote="true">vote</a>
						</td>
					</tr>
					<tr class="odd">
						<td class="title">Extremes</td>
						<td>moog (Sebastian Bachliñski)</td>
						<td>http://Remix.Kwed.Org/</td>
						<td class="tracklength">04:05</td>
						<td class="options"><a href="/vote_for?id=939" data-remote="true">vote</a>
						</td>
					</tr>
					<tr class="even">
						<td class="title">Dazzler</td>
						<td>moog (Sebastian Bachliñski)</td>
						<td>http://Remix.Kwed.Org/</td>
						<td class="tracklength">03:42</td>
						<td class="options"><a href="/vote_for?id=938" data-remote="true">vote</a>
						</td>
					</tr>
					<tr class="odd">
						<td class="title">Camel Funk</td>
						<td>moog (Sebastian Bachliñski)</td>
						<td>http://Remix.Kwed.Org/</td>
						<td class="tracklength">04:22</td>
						<td class="options"><a href="/vote_for?id=937" data-remote="true">vote</a>
						</td>
					</tr>
					<tr class="even">
						<td class="title">Silhouette</td>
						<td>moog (Sebastian Bachliñski)</td>
						<td>http://Remix.Kwed.Org/</td>
						<td class="tracklength">03:55</td>
						<td class="options"><a href="/vote_for?id=936" data-remote="true">vote</a>
						</td>
					</tr>
					<tr class="odd">
						<td class="title">Wizball</td>
						<td>moog (Sebastian Bachliñski)</td>
						<td>http://Remix.Kwed.Org/</td>
						<td class="tracklength">03:03</td>
						<td class="options"><a href="/vote_for?id=935" data-remote="true">vote</a>
						</td>
					</tr>
					<tr class="even">
						<td class="title">Street Hawk</td>
						<td>moog (Sebastian Bachliñski)</td>
						<td>http://Remix.Kwed.Org/</td>
						<td class="tracklength">03:07</td>
						<td class="options"><a href="/vote_for?id=934" data-remote="true">vote</a>
						</td>
					</tr>
					<tr class="odd">
						<td class="title">Visage</td>
						<td>moog (Sebastian Bachliñski)</td>
						<td>http://Remix.Kwed.Org/</td>
						<td class="tracklength">04:05</td>
						<td class="options"><a href="/vote_for?id=933" data-remote="true">vote</a>
						</td>
					</tr>
					<tr class="even">
						<td class="title">Dry Jam (feat. Pawel Dykowski aka Dykov)</td>
						<td>moog (Sebastian Bachliñski)</td>
						<td>http://Remix.Kwed.Org/</td>
						<td class="tracklength">04:22</td>
						<td class="options"><a href="/vote_for?id=932" data-remote="true">vote</a>
						</td>
					</tr>
					<tr class="odd">
						<td class="title">Tristess</td>
						<td>moog (Sebastian Bachliñski)</td>
						<td>http://Remix.Kwed.Org/</td>
						<td class="tracklength">05:02</td>
						<td class="options"><a href="/vote_for?id=931" data-remote="true">vote</a>
						</td>
					</tr>
					<tr class="even">
						<td class="title">Sid Factory 1</td>
						<td>moog (Sebastian Bachliñski)</td>
						<td>http://Remix.Kwed.Org/</td>
						<td class="tracklength">04:23</td>
						<td class="options"><a href="/vote_for?id=930" data-remote="true">vote</a>
						</td>
					</tr>
					<tr class="odd">
						<td class="title">lightforce (sleeping in tibet with a moog remix)</td>
						<td>Sakana Faerge</td>
						<td>http://Remix.Kwed.Org/</td>
						<td class="tracklength">11:43</td>
						<td class="options"><a href="/vote_for?id=929" data-remote="true">vote</a>
						</td>
					</tr>
					<tr class="even">
						<td class="title">Alibi of Laxity</td>
						<td>moog (Sebastian Bachliñski)</td>
						<td>http://Remix.Kwed.Org/</td>
						<td class="tracklength">04:35</td>
						<td class="options"><a href="/vote_for?id=928" data-remote="true">vote</a>
						</td>
					</tr>
					<tr class="odd">
						<td class="title">Sweet and Sour</td>
						<td>moog (Sebastian Bachliñski)</td>
						<td>http://Remix.Kwed.Org/</td>
						<td class="tracklength">03:13</td>
						<td class="options"><a href="/vote_for?id=927" data-remote="true">vote</a>
						</td>
					</tr>
					<tr class="even">
						<td class="title">Final groovin synth sample 1</td>
						<td>Skitz\'n\'Moog</td>
						<td>http://Remix.Kwed.Org/</td>
						<td class="tracklength">04:37</td>
						<td class="options"><a href="/vote_for?id=926" data-remote="true">vote</a>
						</td>
					</tr>
					<tr class="odd">
						<td class="title">Rubicon Title 98</td>
						<td>moog (Sebastian Bachliñski)</td>
						<td>http://Remix.Kwed.Org/</td>
						<td class="tracklength">04:06</td>
						<td class="options"><a href="/vote_for?id=925" data-remote="true">vote</a>
						</td>
					</tr>
					<tr class="even">
						<td class="title">Grillette</td>
						<td>moog (Sebastian Bachliñski)</td>
						<td>http://Remix.Kwed.Org/</td>
						<td class="tracklength">06:14</td>
						<td class="options"><a href="/vote_for?id=924" data-remote="true">vote</a>
						</td>
					</tr>
					<tr class="odd">
						<td class="title">Orchestral Sequence</td>
						<td>moog (Sebastian Bachliñski)</td>
						<td>http://Remix.Kwed.Org/</td>
						<td class="tracklength">03:51</td>
						<td class="options"><a href="/vote_for?id=923" data-remote="true">vote</a>
						</td>
					</tr>
					<tr class="even">
						<td class="title">Sanxion 2000</td>
						<td>Chris Abbott</td>
						<td>http://Remix.Kwed.Org/</td>
						<td class="tracklength">05:37</td>
						<td class="options"><a href="/vote_for?id=922" data-remote="true">vote</a>
						</td>
					</tr>
					<tr class="odd">
						<td class="title">Highway Run</td>
						<td>moog (Sebastian Bachliñski)</td>
						<td>http://Remix.Kwed.Org/</td>
						<td class="tracklength">05:16</td>
						<td class="options"><a href="/vote_for?id=921" data-remote="true">vote</a>
						</td>
					</tr>
					<tr class="even">
						<td class="title">Reyn TV Station</td>
						<td>moog (Sebastian Bachliñski)</td>
						<td>http://Remix.Kwed.Org/</td>
						<td class="tracklength">03:40</td>
						<td class="options"><a href="/vote_for?id=920" data-remote="true">vote</a>
						</td>
					</tr>
					<tr class="odd">
						<td class="title">Robocop 3000</td>
						<td>moog (Sebastian Bachliñski)</td>
						<td>http://Remix.Kwed.Org/</td>
						<td class="tracklength">04:34</td>
						<td class="options"><a href="/vote_for?id=919" data-remote="true">vote</a>
						</td>
					</tr>
					<tr class="even">
						<td class="title">Mind of a Dreamer</td>
						<td>BeaT</td>
						<td>Unknown album</td>
						<td class="tracklength">05:04</td>
						<td class="options"><a href="/vote_for?id=918" data-remote="true">vote</a>
						</td>
					</tr>
					<tr class="odd">
						<td class="title">Mile High Club (BeaT Remix)</td>
						<td>BeaT</td>
						<td>Unknown album</td>
						<td class="tracklength">05:46</td>
						<td class="options"><a href="/vote_for?id=917" data-remote="true">vote</a>
						</td>
					</tr>
					<tr class="even">
						<td class="title">Celestial Fantasia</td>
						<td>BeaT</td>
						<td>Unknown album</td>
						<td class="tracklength">05:47</td>
						<td class="options"><a href="/vote_for?id=916" data-remote="true">vote</a>
						</td>
					</tr>
					<tr class="odd">
						<td class="title">Mists of China</td>
						<td>BeaT</td>
						<td>Unknown album</td>
						<td class="tracklength">03:34</td>
						<td class="options"><a href="/vote_for?id=915" data-remote="true">vote</a>
						</td>
					</tr>
					<tr class="even">
						<td class="title">Logic Air Force (BeaT's Remix)</td>
						<td>BeaT</td>
						<td>Unknown album</td>
						<td class="tracklength">04:20</td>
						<td class="options"><a href="/vote_for?id=914" data-remote="true">vote</a>
						</td>
					</tr>
					<tr class="odd">
						<td class="title">Astronomy Domine</td>
						<td>David Gilmour</td>
						<td>Live In Gdansk</td>
						<td class="tracklength">05:02</td>
						<td class="options"><a href="/vote_for?id=913" data-remote="true">vote</a>
						</td>
					</tr>
					<tr class="even">
						<td class="title">Fat Old Sun</td>
						<td>David Gilmour</td>
						<td>Live In Gdansk</td>
						<td class="tracklength">06:39</td>
						<td class="options"><a href="/vote_for?id=912" data-remote="true">vote</a>
						</td>
					</tr>
					<tr class="odd">
						<td class="title">Castellorizon</td>
						<td>David Gilmour</td>
						<td>Live In Gdansk</td>
						<td class="tracklength">03:47</td>
						<td class="options"><a href="/vote_for?id=911" data-remote="true">vote</a>
						</td>
					</tr>
					<tr class="even">
						<td class="title">Wish You Were Here</td>
						<td>David Gilmour</td>
						<td>Live In Gdansk</td>
						<td class="tracklength">05:15</td>
						<td class="options"><a href="/vote_for?id=910" data-remote="true">vote</a>
						</td>
					</tr>
					<tr class="odd">
						<td class="title">A Pocketful Of Stones</td>
						<td>David Gilmour</td>
						<td>Live In Gdansk</td>
						<td class="tracklength">05:40</td>
						<td class="options"><a href="/vote_for?id=909" data-remote="true">vote</a>
						</td>
					</tr>
					<tr class="even">
						<td class="title">Echoes</td>
						<td>David Gilmour</td>
						<td>Live In Gdansk</td>
						<td class="tracklength">25:25</td>
						<td class="options"><a href="/vote_for?id=908" data-remote="true">vote</a>
						</td>
					</tr>
					<tr class="odd">
						<td class="title">Then I Close My Eyes</td>
						<td>David Gilmour</td>
						<td>Live In Gdansk</td>
						<td class="tracklength">07:42</td>
						<td class="options"><a href="/vote_for?id=907" data-remote="true">vote</a>
						</td>
					</tr>
					<tr class="even">
						<td class="title">On An Island</td>
						<td>David Gilmour</td>
						<td>Live In Gdansk</td>
						<td class="tracklength">07:26</td>
						<td class="options"><a href="/vote_for?id=906" data-remote="true">vote</a>
						</td>
					</tr>
					<tr class="odd">
						<td class="title">Breathe (In The Air)</td>
						<td>David Gilmour</td>
						<td>Live In Gdansk</td>
						<td class="tracklength">02:48</td>
						<td class="options"><a href="/vote_for?id=905" data-remote="true">vote</a>
						</td>
					</tr>
					<tr class="even">
						<td class="title">Speak To Me</td>
						<td>David Gilmour</td>
						<td>Live In Gdansk</td>
						<td class="tracklength">01:22</td>
						<td class="options"><a href="/vote_for?id=904" data-remote="true">vote</a>
						</td>
					</tr>
					<tr class="odd">
						<td class="title">Where We Start</td>
						<td>David Gilmour</td>
						<td>Live In Gdansk</td>
						<td class="tracklength">08:01</td>
						<td class="options"><a href="/vote_for?id=903" data-remote="true">vote</a>
						</td>
					</tr>
					<tr class="even">
						<td class="title">Take A Breath</td>
						<td>David Gilmour</td>
						<td>Live In Gdansk</td>
						<td class="tracklength">06:47</td>
						<td class="options"><a href="/vote_for?id=902" data-remote="true">vote</a>
						</td>
					</tr>
					<tr class="odd">
						<td class="title">High Hopes</td>
						<td>David Gilmour</td>
						<td>Live In Gdansk</td>
						<td class="tracklength">09:57</td>
						<td class="options"><a href="/vote_for?id=901" data-remote="true">vote</a>
						</td>
					</tr>
					<tr class="even">
						<td class="title">Time</td>
						<td>David Gilmour</td>
						<td>Live In Gdansk</td>
						<td class="tracklength">05:37</td>
						<td class="options"><a href="/vote_for?id=900" data-remote="true">vote</a>
						</td>
					</tr>
					<tr class="odd">
						<td class="title">Shine On You Crazy Diamond</td>
						<td>David Gilmour</td>
						<td>Live In Gdansk</td>
						<td class="tracklength">12:06</td>
						<td class="options"><a href="/vote_for?id=899" data-remote="true">vote</a>
						</td>
					</tr>
					<tr class="even">
						<td class="title">This Heaven</td>
						<td>David Gilmour</td>
						<td>Live In Gdansk</td>
						<td class="tracklength">04:32</td>
						<td class="options"><a href="/vote_for?id=898" data-remote="true">vote</a>
						</td>
					</tr>
					<tr class="odd">
						<td class="title">Red Sky At Night</td>
						<td>David Gilmour</td>
						<td>Live In Gdansk</td>
						<td class="tracklength">03:02</td>
						<td class="options"><a href="/vote_for?id=897" data-remote="true">vote</a>
						</td>
					</tr>
					<tr class="even">
						<td class="title">Smile</td>
						<td>David Gilmour</td>
						<td>Live In Gdansk</td>
						<td class="tracklength">04:25</td>
						<td class="options"><a href="/vote_for?id=896" data-remote="true">vote</a>
						</td>
					</tr>
					<tr class="odd">
						<td class="title">Breathe (In The Air Reprise)</td>
						<td>David Gilmour</td>
						<td>Live In Gdansk</td>
						<td class="tracklength">01:31</td>
						<td class="options"><a href="/vote_for?id=895" data-remote="true">vote</a>
						</td>
					</tr>
					<tr class="even">
						<td class="title">Comfortably Numb</td>
						<td>David Gilmour</td>
						<td>Live In Gdansk</td>
						<td class="tracklength">09:22</td>
						<td class="options"><a href="/vote_for?id=894" data-remote="true">vote</a>
						</td>
					</tr>
					<tr class="odd">
						<td class="title">The Blue</td>
						<td>David Gilmour</td>
						<td>Live In Gdansk</td>
						<td class="tracklength">06:38</td>
						<td class="options"><a href="/vote_for?id=893" data-remote="true">vote</a>
						</td>
					</tr>
					<tr class="even">
						<td class="title">A Great Day For Freedom</td>
						<td>David Gilmour</td>
						<td>Live In Gdansk</td>
						<td class="tracklength">05:56</td>
						<td class="options"><a href="/vote_for?id=892" data-remote="true">vote</a>
						</td>
					</tr>
					<tr class="odd">
						<td class="title">Beautiful Dirty Rich</td>
						<td>Lady GaGa</td>
						<td>The Fame</td>
						<td class="tracklength">02:53</td>
						<td class="options"><a href="/vote_for?id=891" data-remote="true">vote</a>
						</td>
					</tr>
					<tr class="even">
						<td class="title">Rinzler</td>
						<td>Daft Punk</td>
						<td>Tron Legacy (Original Motion Picture Soundtrack)</td>
						<td class="tracklength">02:17</td>
						<td class="options"><a href="/vote_for?id=850" data-remote="true">vote</a>
						</td>
					</tr>
					<tr class="odd">
						<td class="title">Fall</td>
						<td>Daft Punk</td>
						<td>Tron Legacy (Original Motion Picture Soundtrack)</td>
						<td class="tracklength">01:22</td>
						<td class="options"><a href="/vote_for?id=849" data-remote="true">vote</a>
						</td>
					</tr>
					<tr class="even">
						<td class="title">Finale</td>
						<td>Daft Punk</td>
						<td>Tron Legacy (Original Motion Picture Soundtrack)</td>
						<td class="tracklength">04:22</td>
						<td class="options"><a href="/vote_for?id=848" data-remote="true">vote</a>
						</td>
					</tr>
					<tr class="odd">
						<td class="title">Arrival</td>
						<td>Daft Punk</td>
						<td>Tron Legacy (Original Motion Picture Soundtrack)</td>
						<td class="tracklength">02:00</td>
						<td class="options"><a href="/vote_for?id=847" data-remote="true">vote</a>
						</td>
					</tr>
			</tbody>
		</table>


</div>