<% content_for :pagetitle do %>Songlist<% end %>

<a href="/logout">Logout</a>

<%= render :partial => "nowplaying", :locals => { :status => @playstatus } %>
<%= render :partial => "search" %>

<%= render :partial => "songlist", :locals => { :list => @last_added } %>
